replicaCount: 1
name: muffin-currency
image:
  repository: whomustnotbenamed/muffin-currency
  pullPolicy: IfNotPresent
  tag: "1.0.0"

service:
  type: ClusterIP
  port: 8083
  targetPort: 8080

livenessProbe:
  httpGet:
    path: /rate?from=PLAIN&to=CHOKOLATE
    port: 8080
  initialDelaySeconds: 5
  periodSeconds: 10
readinessProbe:
  httpGet:
    path: /rate?from=PLAIN&to=CHOKOLATE
    port: 8080
  initialDelaySeconds: 2
  periodSeconds: 5
